<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="main">
		<h1>[[ ${title} ]]</h1>
		<dl>
			<dt>商品名</dt>
			<dd>[[ ${item.name} ]]</dd>
			<dt>画像</dt>
			<dd><img class="item" th:src="@{/images/{image} (image=${item.image})}"></dd>
			<dt>カテゴリ</dt>
			<dd>[[${item.category.name}]]</dd>
			<dt>価格</dt>
			<dd>[[ |${item.price}円| ]]</dd>
			<dt>説明</dt>
			<dd>[[ ${item.description} ]]</dd>
		</dl>
		<a th:href="@{/}">トップに戻る</a>
		</form>
	</div>
</html>